<!DOCTYPE html>
	<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<!-- Basic Page Needs ================================================== -->
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- CSS ================================================== -->
		<link rel="stylesheet" href="../css/base.css">
		<link rel="stylesheet" href="../css/skeleton.css">
		<link rel="stylesheet" href="../css/layout.css">
		<link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons ================================================== -->
		<link rel="shortcut icon" href="../images/favicon.ico">
		<link rel="apple-touch-icon" href="../images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">
		
		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-52637858-1', 'auto');
		  ga('send', 'pageview');
		</script>

		<!-- End Google Analytics -->
	</head>
	<body>
		<!-- Primary Page Layout
		================================================== -->

		<div class="container">
			<div class="twelve columns">
				<div class="header">RobUpcraft(.com)</div>
			</div>
			<div class="four columns">
				<span style="margin-left: 10px;">
					<a href="http://www.github.com/upcrob">
						<i class="fa fa-github fa-2x"></i>
					</a>
				</span>
				<span style="margin-left: 10px;">
					<a href="http://www.linkedin.com/pub/rob-upcraft/27/67b/18a/">
						<i class="fa fa-linkedin fa-2x"></i>
					</a>
				</span>
			</div>
			
			<div id="navBar" class="sixteen columns">
				<!-- Links -->
				<a href="/">Home</a> |
				<a href="/projects">Projects</a> |
				<a href="/blog">(b)log</a> |
				<a href="/photos">Photos</a>
			</div>

			<div class="sixteen columns">
				{{ content }}
			</div>
		</div>
	</body>
</html>
